* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

::-webkit-scrollbar { 
    width:5px; 
}

::-webkit-scrollbar-thumb {
    
    border-radius: 2px;
    background: #979797; 
}

::-webkit-scrollbar-track {
    background: transparent;
}

body {
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(230, 230, 230);
    text-decoration: none;
    display:flex;

}

iframe {
    display: block; 
    width:100% ;
    height: 100vh;
    border: none;
}

.content{
    position: absolute;
    overflow-y: auto;
    width: 100%;
    top: 65px;
    bottom: 0px;
    
}


.content img {
    max-width:100%;
    max-height:auto;
    border-radius:20px;
}

#services {
    display:flex;
    flex-direction: row;
    padding: 20px;
    justify-content:center;
    gap: 20px;

}

#services #item {
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #303030;
    border-width: 1;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

#item img {
    max-width: 100%;

}

#item h2 {

    text-align: center;
}

#item p {

    width: fit-content;
    text-align: center;
}

.contact {
    margin: 10px auto; 
    margin-bottom: 5px;
    padding:10; 
    width:35%;
    font-size:110%
}
.contact label {
    font-weight: 700;
    display:inline-block;
    width: 150px;
}

.contact .no-bold {
    font-weight: 300;
}

.contact input {
    width: 200px;
}

.contact input[type="radio"] {
    width: fit-content;
}

.contact select {
    width: 200px;
}


.contact fieldset {
    padding:10px 40px
}


.contact div {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
}

.contact .combo-radio {
    padding: 0px;
    height: 70px;
    flex-direction:column;
    justify-content:space-between
}

.contact .button-container {
    padding: 10px;
    justify-content: center;
    gap: 20px;

}

.button-container input {
    width: 80px;
    height: 22px;
}


.productbar{
    box-sizing: border-box;
    padding:0px 15px;
    position: relative;
    width:100%;
    height:40px;
    border-width:1px;
    border-style: none;
    border-color: rgb(117, 117, 117);
    background-color:#303030;    
    
}

.productbar a {
    color:white;
    font-weight:bold;
    text-decoration: none;
    float:right;
    padding:12px 15px;
    letter-spacing: 0.5px;
    padding-bottom: 0px;
}

/* Footer section */
footer {
    width: 100%;
    height: 59px;
    position: relative;
    bottom: 0;
    display: flex;
    background-color: #303030;
    justify-content:space-around;
    align-items: center;
}


footer p {
   color: white; 
    
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}



