@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: hsl(0, 100%, 50%);
    --primary-hover-color: hsl(0, 100%, 24%);
    --primary-selected-color: hsl(0, 100%, 15%);
    --secondary-color: hsl(0, 0%, 19%);
    --secondary-hover-color: hsl(0, 0%, 31%);
    --secondary-selected-color: hsl(0, 0%, 15%);
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a:focus {
    outline: none;
    border: none;
}

::-webkit-scrollbar { 
    width:5px; 
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #979797; 
}


::-webkit-scrollbar-track {
    background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


/* body */

body {
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;                                    
}

iframe {
    display: block; 
    width:100% ;
    height: 100vh;
    border: none;
}

.content{
    position: absolute;
    overflow-y: auto;
    width: 100%;
    top: 65px;
    bottom: 0px;
}

.content img {
    max-width:100%;
    max-height:auto;
    border-radius:20px;
}

#services {
    display:flex;
    flex-direction: row;
    padding: 20px;
    justify-content:center;
    gap: 20px;
}

#services #item {
    flex-basis:25%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #303030;
    border-width: 1;
    align-items: center;
    gap: 15px;
    padding: 15px;
}

#item img {
    max-width: 100%;

}

#item h2 {
    text-align: center;
}

#item p {
    width: fit-content;
    text-align: center;
}
/* contact page */
.contact {
    margin: 10px auto; 
    margin-bottom: 5px;
    padding:10; 
    width:35%;
    font-size:110%
}

.contact legend {
    font-weight: 600;
}

.contact label {
    font-weight: 600;
    display:inline-block;
    width: 150px;
}

.contact .no-bold {
    font-weight: 400;
}

.contact input {
    width: 214px;
}

.contact input[type="radio"] {
    width: fit-content;
}

.contact select {
    width: 214px;
}


.contact fieldset {
    padding:10px 40px
}


.contact div {
    display: flex;
    justify-content: start;
    padding-bottom: 10px;
}

.contact .combo-radio {
    padding: 0px;
    height: 70px;
    flex-direction:column;
    justify-content:space-between
}

.contact .button-container {
    padding: 10px;
    justify-content: center;
    gap: 20px;

}

.button-container input {
    width: 80px;
    height: 22px;
}

/* end contact page */

/* product-bar */
.product-bar{
    display:flex;
    align-items: center;
    max-height:40px;
    padding:0px 15px;
    background-color:#303030;    
}

.product-bar .inicio {
    font-size: 120%;
    margin-right: auto;
    padding:8px 15px;
}

.product-bar a {
    color:white;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding:11px 15px 10px;
    transition: background-color 200ms ease-out 0ms;
}

.product-bar a:hover {
    background-color: var(--secondary-hover-color);
}

.product-bar a:active {
    background-color: var(--secondary-selected-color);
}

/* end product-bar */

/* title */

.content .title {
    text-align: center;
    padding: 10px 0px 10px;
    border-bottom-color: hsl(0, 0%, 65%);
    border-bottom-style: solid;
    border-bottom-width: 1px;

}

.title h1 {
    margin: 0px 20px 5px;
}

.title p {
    margin: 0px 20px;
}
 
/* end title */

/* product page css */
.product-content {
    box-sizing: border-box;
    display:flex;
    margin:10px 20px;
    align-items: flex-start;
}

.product-content .sidebar {
    margin-top: 35px;
    --offset: 10px;
    position: sticky;
    top: var(--offset);
    width: 33%;
    max-height: 500px;
}

/* cart */

.sidebar .cart {
    max-height: calc(100vh - var(--offset) * 2);
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.03), 0 8px 16px rgba(0, 0, 0, 0.03),
    0 16px 32px rgba(0, 0, 0, 0.02), 0 32px 64px rgba(0, 0, 0, 0.02);
    
}

.cart .header {
    padding: 15px;
    text-align: center;
    font-size: 130%;
    font-weight: 500;
    border-bottom: inherit;
}

.cart .cart-content {
    max-height: 400px;
    overflow-y: auto;
}

.cart-content .empty-text {
    text-align: center;
    padding: 50px 10px;
    color:hsl(0, 0%, 28%)
}

.cart .footer {
    display: flex;
    justify-content:space-between;
    padding: 15px;
    border-top: inherit;
}

.footer .button {
    appearance: none;
    font-family: inherit;
    font-size: 110%;
    font-weight: 500;
    padding: 5px 15px; 
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    border: 1px;
    transition: background-color 100ms ease-out 0ms;
    border-radius: 5px;
}

.footer .button:hover {
    background-color: var(--primary-hover-color)
}

.footer .button:active {
    transform: scale(0.98);
    background-color: var(--primary-selected-color)

}

.footer .empty-card {
    background-color: var(--secondary-color);
    transition: background-color 100ms ease-out 0ms
}

.footer .empty-card:hover {
    background-color: var(--secondary-hover-color);
}

.footer .empty-card:active {
    background-color: var(--secondary-selected-color)

}

/* end cart */

.product-content .main {
    width: 100%;
    padding-right:20px;
}

.product-content .table table{
    padding:0px 0px 15px; 
    
    width:100% ;
    border-spacing:0px;
}

.product-content .table table .table-content {
    display:flex;
    box-sizing: border-box;
    justify-content: flex-start;
    gap: 5px;
    padding-right: 7px;
}

.product-content .table table .last-item {
    display:flex;
    justify-content: space-between;
}


.product-content .table table .semi-bold-text{
    font-weight: 600;
}

.product-content .table table .text {
    padding:0px;
    margin: auto 0px;
    font-size: 0.93em;
}

.product-content .table thead th{
    font-size: 90%;
    vertical-align: bottom;
    text-align: left;
    background-color: white;
}

.product-content .table tr {
    height: 3px;

}

.product-content .table tr:hover{
    background-color:rgb(223, 223, 223)
}


.product-content .table td {
    
    border-collapse: collapse;
    border-top-color: rgb(175, 175, 175);
    border-top-style: solid;
    border-top-width: 1px;
}

.product-content .table .image-wrapper{
    margin: 5px;
    border: 1px solid rgb(102, 102, 102);
    background-color:white;
    min-width: 52px;
    min-height: 52px;
    display: flex;
    align-items: center;
    position: relative;
}

.table-content button {
    appearance: none;
}

.image-wrapper .hidden {
    display: none;
}

.hidden img {
    position: relative;
    top:50%;
    transform:translateY(-50%);
    border: 1px solid black;
    padding: 8px;
    max-height: 200 !important;
    min-width: 250px !important;
    background-color: white;
  }
  
.product-content .table .image-wrapper:hover .hidden{
    display:block;
    width:256px;
    height:256px;
    top:-110px;
    left:120px;
    position:absolute;
    z-index:1;
}


.product-content .table img{
    display: block;
    margin:5px;
    max-width: 40px;
    border-radius: 0px;
}

/* end product page css */

/* end body */

/* Footer section */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 0;
    background-color: var(--secondary-color);
    width: 100%;
    height: 50px;
}


footer p {
   color: white; 
    
}

/* end footer section */

/* error 404 */
.error-404 {
    display:flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    padding: 200px 0px 135px;
}
.error-404 .emote {
    font-size: 900%;
    font-weight: 500;
}
.error-404 .text {
    font-size: 150%;
}   
/* end error 404 */