.navbar{
    display:flex;
    box-sizing: border-box;
    overflow:hidden;
    background-color: red;
    padding: 0px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    width: calc(100% - 20px) !important;
}

.selected-page {
    background-color:rgb(48, 48, 48);
}

.navbar a{
    display: flex;
    text-align: center;
    padding:21px 16px;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color:white;
    font-weight: 600;
}

.navbar .name{
    
    color:white;
    text-align: center;
    padding:8px 16px;
    margin:0px;
    font-size: 2.5em;
    font-weight: 700;
}

.navbar img{
    
    max-width: auto;
    max-height: 66px;
}