.table table{
    padding:15px 5px;
    width:100% ;
    border-spacing:0px;
}

.table table .table-content {
    display:flex;
    box-sizing: border-box;
    justify-content: flex-start;
    
}

.table table .name{
    font-weight: bold;
}

.table table .text {
    padding:0px;
    margin: auto 0px;
}

.table thead th{
    font-size: 90%;
    vertical-align: bottom;
    text-align: left;
    background-color: white;
}

.table tr {
    height: 3px;

}

.table tr:hover{
    background-color:rgb(223, 223, 223)
}

.table td {
    
    border-collapse: collapse;
    border-top-color: rgb(175, 175, 175);
    border-top-style: solid;
    border-top-width: 1px;

}

.table .image-wrapper{
    margin: 5px;
    border: 1px solid rgb(102, 102, 102);
    background-color:white;

}
.table img{
    display: block;
    margin:5px;
    max-width: 40px;
    
}